# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata

# Build
build/
DerivedData/

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Other
*.DS_Store
*.swp
